@use "/styles/variables" as var;

.container {
  color: var.$textColorPlaceholder;
  padding: 0;
  margin-bottom: 15px;
  margin-top: 15px;
}

.title {
  margin: 0;
  text-align: center;
  &:first-child {
    margin-bottom: 0.5rem;
  }
}
